<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROOT PAGE</title>
    <script>
        var result=0;
        var form_o = document.getElementById("operand");
        function selectA() {
            result=0;
            document.getElementById('no').disabled = false;
            document.getElementById('fname').disabled = false;
            document.getElementById('lname').disabled = false;
            document.getElementById('phone').disabled = false;
            document.getElementById('authority').disabled = false;
            document.getElementById('leader').disabled = false;
            document.getElementById('authority').disabled = false;
            document.getElementById('leader2').disabled = false;
        }
        function selectD() {
            result=1;
            document.getElementById('no').disabled = false;
            document.getElementById('fname').disabled = true;
            document.getElementById('lname').disabled = true;
            document.getElementById('phone').disabled = true;
            document.getElementById('leader').disabled = true;
            document.getElementById('authority').disabled = true;
            document.getElementById('leader2').disabled = true;
        }
        function checkEmail(email) {
            var index;
            index = email.indexOf('@', 0);// 尋找 @ 的位置，0 代表開始尋找的起始位置
            if (email.length == 0) {
                //alert("請輸入電子郵件地址！");
                return (false);
            } else if (index == -1) {
                //alert("錯誤：必須包含「@」。");
                return (false);
            } else if (index == 0) {
                //alert("錯誤：「@」之前不可為空字串。");
                return (false);
            } else if (index == email.length - 1) {
                //alert("錯誤：「@」之後不可為空字串。");
                return (false);
            } else
                return (true);
        }
        function checkPassword(password) {
            if (password.length == 0) {
                //alert("請輸入密碼！");
                return (false);
            } else
                return (true);
        }
        function checkName(name) {
            if (name.length == 0) {
                //alert("請輸入完整姓名！");
                return (false);
            } else
                return (true);
        }
        function check_form() {
            var account_no = document.getElementsByName('no')[0].value;
            var account_ps = document.getElementsByName('ps')[0].value;
            var account_fname = document.getElementsByName('fname')[0].value;
            var account_lname = document.getElementsByName('lname')[0].value;
            if (!checkEmail(account_no)) {
                //alert("Email 資料有誤，表單將不送出！");
                return false;
            }
            else if (result==1)
            {
                return true;
            }
            else if (!checkPassword(account_ps)) {
                //alert("Password 資料有誤，表單將不送出！");
                return false;
            }
            else if (!checkName(account_fname) || !checkPassword(account_lname)) {
                //alert("姓名資料有誤，表單將不送出！");
                return false;
            }
            else {
                return true;
            }
        }
        function getAdd_delete() {
            if (check_form()) {
                alert("成功送出表單！");
                document.operand.action = "";
                document.operand.submit();
            }
        }
    </script>
</head>

<body>
    <form method="POST" action="" name="operand" id="operand" enctype="multipart/form-data">
        {% csrf_token %}
        <label><input name="add_delete" type="radio" value="add" onclick="selectA()" checked>Add</label>
        <label><input name="add_delete" type="radio" value="delete" onclick="selectD()">Delete</label>
        <label><input name="add_delete" type="radio" value="update" onclick="selectA()">Update</label>
        <br>
        <label for="no">Account number</label>
        <input type="email" name="no" id="no" required />
        <br><br>
        <label for="ps">Password</label>
        <input type="password" name="ps" id="ps" required />
        <br><br>
        <label for="fname">First name</label>
        <input type="text" name="fname" id="fname" required />
        <br><br>
        <label for="lname">Last name</label>
        <input type="text" name="lname" id="lname" required />
        <br><br>
        <label for="phone">Phone number</label>
        <input type="tel" name="phone" id="phone" />
        <br><br>
        Authority
        <select name="authority" id="authority">
            <option value="N"  selected>Normal</option>
            <option value="M">Manager</option>
            <option value="B">Boss</option>
        </select>
        <br><br>
        Leader
        <label><input name="leader" id="leader" type="radio" value=1>Yes</label>
        <label><input name="leader" id="leader2" type="radio" value=0 checked>No</label>
        <br><br>
        <button onclick="getAdd_delete()">Submit</button>
        <p style="color: red;">{{accountChange}}</p>
    </form>
</body>

</html>