<!DOCTYPE html>
<html>

<head>
  <title>HOME PAGE</title>
</head>

<body>
  <h1>Login</h1>
  <form method="POST" action="">
    {% csrf_token %}
    <div>
      <label for="uname"><b>Username</b></label><br>
      <input type="text" id="uname" placeholder="Enter Username" name="uname" required>
      <br>
      <br>
      <label for="ps"><b>Password</b></label><br>
      <input type="password" id="ps" placeholder="Enter Password" name="ps" required>
      <br>
      <br>
      <button type="submit">Login</button>
      <p style="color: red;">{{loginMessage}}</p>
      <br><a href="/others"> 其他... </a>
    </div>
  </form>
</body>

</html>