<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NORMAL PAGE</title>
    <!-- jquery -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        function $I(id) {
            return document.getElementById(id);
        }
        function $N(name) {
            return document.getElementsByName(name);
        }
        function postForm() {
            var d1 = $I("c_date1").value;
            var d2 = $I("c_date2").value;
            if (d1 != "" && d2 == "") {
                alert("請填寫完整日期範圍")
            }
            else if (d2 != "" && d1 == "") {
                alert("請填寫完整日期範圍")
            }
            else {
                document.operand.action = "";
                document.operand.submit();
            }
        }
        function selectPrint(number) {
            if ($I("result" + number).hidden) {
                $I("result" + number).hidden = false;
                $I("postp" + number).checked = true;
                // $I("p_result" + number).hidden = false;
            }
            else {
                $I("result" + number).hidden = true;
                $I("postp" + number).checked = false;
                // $I("p_result" + number).hidden = true;
            }
        }
        $(function () {
            $("[data-toggle='popover']").popover();
        });
    </script>
    <style>
        body {
            background-color: #e4c4a7;
        }

        #operand {
            margin-left: 15%;
            margin-right: 8%;
        }

        #insertform {
            margin-left: 15%;
            margin-right: 8%;
        }

        .yellow {
            background-color: floralwhite;
        }

        .blue {
            background-color: blanchedalmond;
        }

        .col {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-light">
            <h5>REMEBER SQUIRREL IS GOD</h5>
            <button class="btn btn-secondary" onclick="location.href='/'">Log out</button>
        </nav>
        <hr>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <form method="POST" action="" name="operand" id="operand" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3>查詢欄位</h3>
                    <span>
                        <label for="pname"> Product Name</label><br>
                        {{form.pname}}<br><br>
                    </span>
                    <span>
                        <label for="price"> Price Range</label><br>
                        {{form.price}}<br><br>
                    </span>
                    <span>
                        <label for="mfname"> Manufacturer</label><br>
                        {{form.mfname}}<br><br>
                    </span>
                    <span>
                        <label for="date1"> Date Range</label><br>
                        起
                        <input type="date" id="date1" name="date1" placeholder="2014-09-18"><br>
                        迄
                        <input type="date" id="date2" name="date2" placeholder="2014-09-18"><br><br>
                    </span>
                    <span>
                        <button class="btn btn-light" onclick="postForm()">Search</button>
                    </span>
                    <span hidden>
                        <input type="checkbox" id="postp1" name="P" value="p_pname" checked>
                        <input type="checkbox" id="postp2" name="P" value="p_mname" checked>
                        <input type="checkbox" id="postp3" name="P" value="p_price" checked>
                        <input type="checkbox" id="postp4" name="P" value="p_date" checked>
                        <input type="checkbox" id="postp5" name="P" value="p_manufacturer" checked>
                        <input type="checkbox" id="postp6" name="P" value="p_content" checked>
                        <input type="checkbox" id="postp7" name="P" value="p_employee" checked>
                    </span>
                </form>
                <hr>
                <form action="" method="POST" id="insertform">
                    {% csrf_token %}
                    <h3>新增檢測日期</h3>
                    <!-- {{formD.pname}} -->
                    <label id="insertp">Product Name</label>
                    <input type="text" id="insertp" name="insertp" placeholder="what is the product name"
                        style="width: 85%;" required>
                    <label id="insertd">New Detect Date</label>
                    <input type="date" id="insertd" name="insertd" placeholder="2014-09-18" required><br><br>
                    <button type="submit" class="btn btn-light">Insert</button>
                    {{Nrank_insertDate}}
                </form>
            </div>
            <div class="col-sm-10">
                <form method="POST" action="" name="operand">
                    {% csrf_token %}
                    <h3>顯示的資料欄位</h3>
                    <div class="row align-items-center">
                        <span class="col blue">
                            <input type="checkbox" id="p1" name="P" value="p_pname" onclick="selectPrint(1)" checked>
                            <label class="form-check-label" for="p1">Product Name</label>
                        </span>
                        <span class="col yellow">
                            <input type="checkbox" id="p2" name="P" value="p_mname" onclick="selectPrint(2)" checked>
                            <label class="form-check-label" for="p2">Manager Info</label>
                        </span>
                        <span class="col blue">
                            <input type="checkbox" id="p3" name="P" value="p_price" onclick="selectPrint(3)" checked>
                            <label class="form-check-label" for="p3">Price</label>
                        </span>
                        <span class="col yellow">
                            <input type="checkbox" id="p4" name="P" value="p_date" onclick="selectPrint(4)" checked>
                            <label class="form-check-label" for="p4">Date</label>
                        </span>
                        <span class="col blue">
                            <input type="checkbox" id="p5" name="P" value="p_manufacturer" onclick="selectPrint(5)"
                                checked>
                            <label class="form-check-label" for="p5">Manufacturer Info</label>
                        </span>
                        <span class="col yellow">
                            <input type="checkbox" id="p6" name="P" value="p_content" onclick="selectPrint(6)" checked>
                            <label class="form-check-label" for="p6">Content</label>
                        </span>
                        <span class="col blue">
                            <input type="checkbox" id="p7" name="P" value="p_employee" onclick="selectPrint(7)" checked>
                            <label class="form-check-label" for="p7">Employee</label>
                        </span>
                    </div>
                    <hr>
                </form>
                <div>

                </div>
                <div>
                    <h3>{{searchResult}}</h3>
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            {% if checkprint.0 %}
                            <div class="col" id="result1">
                                <b>Product Name</b>
                            </div>
                            {% endif %}
                            {% if checkprint.1 %}
                            <div class="col" id="result2">
                                <b>Manager Info</b>
                            </div>
                            {% endif %}
                            {% if checkprint.2 %}
                            <div class="col" id="result3">
                                <b>Price</b>
                            </div>
                            {% endif %}
                            {% if checkprint.3 %}
                            <div class="col" id="result4">
                                <b>Date</b>
                            </div>
                            {% endif %}
                            {% if checkprint.4 %}
                            <div class="col" id="result5">
                                <b>Manufacturer Info</b>
                            </div>
                            {% endif %}
                            {% if checkprint.5 %}
                            <div class="col" id="result6">
                                <b>Content</b>
                            </div>
                            {% endif %}
                            {% if checkprint.6 %}
                            <div class="col" id="result7">
                                <b>Employee</b>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- for loop -->
                    {%for Result in Results %}
                    <hr>
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            {% if checkprint.0 %}
                            <div class="col" id="p_result1">
                                <span>
                                    <!-- Product Name -->
                                    {{Result.0}}
                                </span>
                            </div>
                            {% endif %}
                            {% if checkprint.1 %}
                            <div class="col" id="p_result2">
                                <span>
                                    <!-- Manager Info -->
                                    {{Result.1}} {{Result.2}}<br>
                                    <button type="button" style="text-align: center;"
                                        class="btn btn-outline-light btn-sm" title="Manager Information"
                                        data-container="body" data-html="true" data-toggle="popover"
                                        data-placement="right"
                                        data-content="Name   : {{Result.1}} {{Result.2}}<br>E-mail  : {{Result.3}}<br>{% if Result.4 != 0 %}Phone: {{Result.4}}{% endif %}">
                                        View details
                                    </button>

                                </span>
                            </div>
                            {% endif %}
                            {% if checkprint.2 %}
                            <div class="col" id="p_result3">
                                <span>
                                    <!-- Price -->
                                    {{Result.5}}
                                </span>

                            </div>
                            {% endif %}
                            {% if checkprint.3 %}
                            <div class="col" id="p_result4">
                                <span>
                                    <!-- Date -->
                                    {{Result.6}}<br>
                                    <form method="POST" id="viewdetect" name="viewdetect" target="_blank"
                                        action="detect/">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-outline-light btn-sm" title="All Date"
                                            data-container="body" data-html="true" data-toggle="popover"
                                            data-placement="right" data-content="Sign Date: {{Result.6}}
                                            <br>Start Date: {{Result.7}}<br>Finish Date: {{Result.8}}">
                                            View details
                                        </button>
                                        <input type="text" name="d_pname" value={{Result.0}} hidden>
                                        <button type="submit" class="btn btn-outline-light float-right btn-sm">
                                            Detect date
                                        </button>
                                    </form>
                                </span>
                            </div>
                            {% endif %}
                            {% if checkprint.4 %}
                            <div class="col" id="p_result5">
                                <span>
                                    <!-- Manufacturer Info -->
                                    {{Result.9}}<br>
                                    <button type="button" style="text-align: center;"
                                        class="btn btn-outline-light btn-sm" title="Manufacturer Information"
                                        data-container="body" data-html="true" data-toggle="popover"
                                        data-placement="right"
                                        data-content="Vendor: {{Result.9}}<br>Primary contact: {{Result.10}}<br>Telephone: {{Result.11}}">
                                        View details
                                    </button>
                                </span>
                            </div>
                            {% endif %}
                            {% if checkprint.5 %}
                            <div class="col" id="p_result6">
                                <span>
                                    <!-- Content -->
                                    {{Result.12}}
                                </span>
                            </div>
                            {% endif %}
                            <div class="col" id="p_result7">
                                <form method="POST" id="viewemployee" name="viewemployee" target="_blank"
                                    action="employee/">
                                    {% csrf_token %}
                                    <input type="text" name="d_pname" value={{Result.0}} hidden>
                                    <button type="submit" style="text-align: center;"
                                        class="btn btn-outline-light btn-sm">
                                        All Employee
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>