<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>爽吶</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>

<body>
    <div id="container" style="width: 1200px; height: 800px; margin: 50 auto"></div>
    <script language="JavaScript">

        $(document).ready(function () {

            var title = {
                text: '年所得曲線'
            };

            var xAxis = {
                categories: document.getElementById("myVar")
            };

            var yAxis = {
                title: {
                    text: 'Money (USD)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            };
            
            var series = [
                {
                    name: 'Tokyo',
                    data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2,
                        26.5, 23.3, 18.3, 13.9, 9.6]
                }
            ];

            var json = {};

            json.title = title;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.series = series;

            $('#container').highcharts(json);
        });

    </script>
    <input type="hidden" id="myVar" name="variable" value="{{ variable }}">
    {{ variable }}
</body>

</html>